body {
  font-family: poppins, sans-serif;
  background: black;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h3 {
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header a {
  background: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 16px 32px;
  color: black;
  display: inline-block;
  margin-top: 32px;
  text-transform: uppercase;
  border-radius: 2px;
}
header {
  max-width: 1400px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/beto-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 180px 0;
  color: white;
}
footer {
  max-width: 1400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;

  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 22px;
  text-align: justify;
  color: white;
}
h4 {
  margin: 0;
  font-size: 24px;
}
footer .grid {
  padding: 50px 50px;
}
.grid {
  display: grid;
  grid-gap: 30px;
}
.boxes {
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 60px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10px;
}
.card-header.grid {
  grid-gap: 0;
}
section {
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;
  text-align: justify;
  padding: 100px;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
iframe {
  max-width: 100%;
  aspect-ratio: 1/1;
}
section h3 {
  margin: 0;
}
main img {
  max-width: 80%;
}
main h3 {
  color: #bebcc7;
}
main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
.title-small-screen {
  display: none;
}
.secondary {
  background-color: #f8f8f8;
}
.card {
  background-color: white;
}
.secondary img {
  max-width: 100%;
  aspect-ratio: 1/1;
}
button {
  display: block;
  width: 100%;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: #4f545c;
  transition: background-color 0.17s ease, color 0.17s ease;
}
a {
  text-decoration: none;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 25px;
}
.card header .grid-2-columns {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}
.instagram-embeds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  text-align: center;
  grid-gap: 30px;
  max-width: 100%;
}
.box-insta {
  
  max-width: 100%;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 45px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 7px;
    padding: 8px 16px;
  }
  main h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  main h3 {
    margin: 0;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    grid-row: 30px;
    padding: 40px;
  }
  .secondary {
    padding: 0px;
  }

  .title-big-screen {
    display: none;
  }
  .title-small-screen {
    display: grid;
    text-align: center;
  }
  .secondary h3 {
    padding-top: 20px;
  }
  .card-header.grid {
    grid-gap: 10px;
    padding-bottom: 5px;
  }
  iframe {
    margin: 0 auto;
    aspect-ratio: 16/9;
  }
  .card-body h4 {
    text-align: center;
  }
  .card-body {
    padding: 0 30px;
  }
  .instagram-embeds {
  display: grid;
  grid-template-columns: 1fr;
}
