body {
  font-family: poppins, sans-serif;
  background: black;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h3 {
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header a {
  background: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 16px 32px;
  color: black;
  display: inline-block;
  margin-top: 32px;
  text-transform: uppercase;
  border-radius: 2px;
}
header {
  max-width: 1400px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/beto-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 180px 0;
  color: white;
}
footer {
  max-width: 1400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;

  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 22px;
  text-align: justify;
  color: white;
}
.grid {
  display: grid;
  max-width: 1400px;
  padding: 100px 50px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.boxes {
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 60px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

section {
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;
  text-align: justify;
}
section img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
main h3 {
  color: #bebcc7;
}
main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
.title-small-screen {
  display: none;
}
@media (max-width: 900px) {
  header h1 {
    font-size: 45px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 7px;
    padding: 8px 16px;
  }
  main h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  main h3 {
    margin: 0;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 50px;
  }

  .title-big-screen {
    display: none;
  }
  .title-small-screen {
    display: grid;
    text-align: center;
  }
}
