body {
  color: white;
  font-family: poppins, sans-serif;
  background: black;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h3 {
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header a {
  background: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 16px 32px;
  color: black;
  display: inline-block;
  margin-top: 32px;
  text-transform: uppercase;
  border-radius: 2px;
}
header {
  max-width: 1400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/beto-background.png");
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 180px 0;
}
footer {
  padding: 10px;
  max-width: 1400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 22px;
  text-align: justify;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.box {
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 900px) {
  header h1 {
    font-size: 45px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 7px;
    padding: 8px 16px;
  }
}
